.parent	{
	display: flex;
	flex-direction:column-reverse;
	justify-content:center;
	align-items:flex-end;
	border: 1px solid red;
	height: 300px;
}
.child {
	height: 50px;
	width: 100px;
	border: 1px solid green;
}